.results,
.add_users,
.poll {
    max-width: 500px;
    padding: 0 20px;
}
.results p,
.add_users p,
.poll p {
    font-size: 0.9rem;
    color: var(--color-standard-grey);
}
.selected-users {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*max-width: 300px;*/
    padding-top: 5px;
}
.selected-users div {
    margin: 0 20px;
    display: flex;
    align-items: center;
    padding: 3px 0;
}
.selected-users div img {
    padding-left: 5px;
}

.user-search-suggestions {
    position: fixed;
    display: none;
    background-color: var(--color-search-result-background);
    color: var(--color-search-result);
    max-height: 20rem;
    padding-bottom: 0;
    z-index: 5;
    margin-left: 10px;
    padding: 5px 10px;
    max-width: 450px;
    width: -webkit-fill-available;
    max-height: 152px;
    overflow-y: auto;
}
.user-search-suggestions .suggestion {
    padding: 5px 0;
}
@media(max-width: 380px) {
    .selected-users {
        font-size: 14px;
    }
}